<h1><%= @park.name.titleize %></h1>

<p>Address: <%= @park.street_address %>, <%= @park.zip %></p>

<p><%= @park.acres %> acres</p>

<h3>Here are some fun things you can do at <%= @park.name.titleize %></h3>

<ul>
  <% @park.activities.each do |activity| %>
    <li><%= display_activity(activity) %></li>
  <% end %>
</ul>