<div class="container">

  <h1>Fill out the form to find all the best parks in Chicago</h1>

  <%= form_for @player do |f| %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %>

    <%= f.label :nick_name %>
    <%= f.text_field :nick_name %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :zip %>
    <%= f.text_field :zip %>

    <%= f.label :password %>
    <%= f.text_field :password %>

    <%= f.label :password_confirmation %>
    <%= f.text_field :password_confirmation %>

    <%= f.submit "I'm all warmed up!" %>

  <% end %>

</div>
